<h1 style="padding-left: 20px; margin-top: 20px;">Nuevo Ingreso </h1>

<div fxLayout="row" fxLayoutGap="50px">
  <form (ngSubmit)="guardar()"
        #formIng="ngForm"
        autocomplete="off"
        style="width: 40%;">
    <div fxFlex="100" fxLayout="column" style="padding: 20px;">
      <mat-form-field>
        <mat-label>Placa</mat-label>
        <input matInput
              type="text"
              [(ngModel)]="vehiculo.placa"
              name="placa"
              maxlength="7"
              minlength="3"
              required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Tipo</mat-label>
        <mat-select required
                    [(ngModel)]="vehiculo.tipo"
                    name="tipo">
          <mat-option *ngFor="let tipo of tipos"
                      [value]="tipo.value">
            {{ tipo.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput [ngxMatDatetimePicker]="picker_ing" placeholder="Fecha y hora de entrada"
          [min]="" [max]="" [disabled]="false" required [(ngModel)]="vehiculo.fec_ing" name="fec_ing">
        <ngx-mat-datepicker-toggle matSuffix [for]="picker_ing"></ngx-mat-datepicker-toggle>
        <ngx-mat-datetime-picker #picker_ing [showSpinners]="true" [showSeconds]="false"
          [stepHour]="1" [stepMinute]="1" [stepSecond]="1" [touchUi]="false"
          [color]="'warn'" [enableMeridian]="true" [disableMinute]="false" [hideTime]="false"
          style="background-color: white;">
        </ngx-mat-datetime-picker>
      </mat-form-field>
      <br>
      <button mat-flat-button color="primary"
              style="padding: 10px 0"
              >
        Guardar
      </button>

    </div>
  </form>
  <div fxFlex="50">
    <table mat-table [dataSource]="vehiculos" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
      <ng-container matColumnDef="tipo">
        <th mat-header-cell *matHeaderCellDef> Tipo </th>
        <td mat-cell *matCellDef="let element"> {{element.tipo}} </td>
      </ng-container>
      <ng-container matColumnDef="placa">
        <th mat-header-cell *matHeaderCellDef> Placa </th>
        <td mat-cell *matCellDef="let element"> {{element.placa}} </td>
      </ng-container>
      <ng-container matColumnDef="fec_ing">
        <th mat-header-cell *matHeaderCellDef> Fec. Ingreso </th>
        <td mat-cell *matCellDef="let element"> {{element.fec_ing | date:'medium' }} </td>
      </ng-container>
      <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef> Estado </th>
        <td mat-cell *matCellDef="let element"> <span class="span-ing">{{element.estado }}</span> </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr class="mat-row" *matNoDataRow>
      </tr>
    </table>
  </div>
</div>
